.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 40px;
  margin-bottom: 5px;
  color: #8C9CB1;
  font-weight: 600;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  //background-color: #E8F1F1;
  background-color: #e8f2f2;
  &__values {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    select {
      padding: 10px 5px;
      background-color: #e8f2f2;
      border: none;
    }
    input {
      border: none;
      outline: none;
      background-color: #57C5C5;
      padding: 10px 20px;
      text-align: center;
      color: white;
      font-weight: 600;
      font-size: 16px;

    }
  }

}
.main {
  background-color: #57C5C5;
  //background-color: #e8f2f2;
  color: white;
}