.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  outline: none;
  padding: 10px 30px;
  width: 90px;
  font-weight: 600;
  font-size: 15px;
  background-color: #57C5C5;
  cursor: pointer;
  border:  1px solid #57C5C5;
  
}
.secondary {
  border: 1px solid white;
}